
<div class="admin-title">
    <h2>Add New Post</h2>
</div>

<form action="/add-post" method="post" class="add-post">
    <label for="title">
        <h4>Title</h4>
    </label>
    <input type="text" name="title" placeholder="Post Title"/>

    <label for="body"></label>
        <h4>Content</h4>
    </label>
    <textarea name="body" cols="50" rows="10"></textarea>

    <input type="submit" value="Add" class="add-btn">
    
</form>