<header class="header">
    <a href="/" class="header_logo"><span>Bek</span>Blog</a>
    
    <button class="menu_toggle" aria-label="Toggle navigation">
        <svg class="menu_icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 6H21V8H3V6ZM3 11H21V13H3V11ZM3 16H21V18H3V16Z" fill="#fff"/>
        </svg>
        <svg class="close_icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 18L18 6M6 6L18 18" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </button>

    <nav class="header_nav">
        <ul class="nav_list">
            <li><a href="/" class="">HOME</a></li>
            <li><a href="/about" class="">ABOUT</a></li>
            <li><a href="/contact" class="">CONTACT</a></li>
        </ul>
    </nav>

    <div class="header_button">
        <button class="searchBtn" aria-expanded="false">
            Search
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.7 14.3c-1.6 1.6-3.8 2.6-6.1 2.6-4.6 0-8.4-3.8-8.4-8.4S4.9 0 9.5 0s8.4 3.8 8.4 8.4c0 2.3-1 4.5-2.6 6.1l5.5 5.5c0.4 0.4 0.4 1 0 1.4s-1 0.4-1.4 0l-5.5-5.5zM9.5 2C5.4 2 2 5.4 2 9.5S5.4 17 9.5 17s7.5-3.4 7.5-7.5S13.6 2 9.5 2z" fill="#fff"/>
            </svg>   
        </button>
    </div>
    
</header>
