
<div class="searchBar">
    <div class="searchContainer">
        <form action="/search" class="search_form" role="search" method="POST">
            <input type="search" aria-label="search" id="searchInput" name="searchTerm" placeholder="search....">
        </form>
        <div id="searchClose">close</div>
    </div>
</div>